/Assignment.dev
/Assignment.exe
/Assignment.layout
/Assignment1Darshit.o
/fileInput .o
/main.o
/Makefile.win
/Practice.c
/Practice.o
/Practice2.c
/Practice2.exe
/sample.txt
/Test2practice.c
/Test2practice.exe